body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
  font-weight: bolder;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

tr:nth-child(even) {
  background-color: rgb(218, 218, 218);
}
tr.highlight {
  background-color: #383838;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

